<h1>Carrito de Compras</h1>

{{#if products}}
{{#each products}}

  <div>
    <p>Producto: {{this.product.title}}</p>
    <p>Cantidad: {{this.quantity}}</p>
  </div>

{{/each}}
{{/if}}

    {{#else}}

    <div><h1><strong>No se encontraron productos en el carrito!</strong></h1></div>

    {{/else}}
