
<form action="/api/sessions/login" method="POST">
    <label for="email"> Email: </label>
    <input type="email" required name="email" placeholder="Usuario" required>

    <label for="password"> Password: </label>
    <input type="text" name="password" placeholder="Contraseña" required>

    <button type="submit"> Ingresar!</button>

</form>