    {{!-- Vista de current --}}
<header>
    <h1> Tienda Online </h1>

    <div>
        <h3>Bienvenido</h3>
        <p> {{user.first_name}}  {{user.last_name}} </p>
        <p>Email: {{user.email}} </p>
        <p>Rol: {{user.role}} </p>
        <a href="/api/sessions/logout">Logout</a>
    </div>
</header>

<h2> Ecommerce </h2>
