h1{
    color: red;
    text-align: center;
}

.productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productos div {
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
}

li {
    display: flex;
    justify-content: left;
    align-items: left;
}

.title {
    font-size: 30px;;
}

.fondo {
    background-image: url(https://image.slidesdocs.com/responsive-images/background/blue-green-landscape-grass-sky-lawn-powerpoint-background_7cf248abc6__960_540.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}